@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  .theme-zinc {
    --primary: oklch(0.235 0.006 285.938);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-slate {
    --primary: oklch(0.552 0.038 254.604);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-stone {
    --primary: oklch(0.517 0.024 56.897);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-gray {
    --primary: oklch(0.537 0.021 264.542);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-neutral {
    --primary: oklch(0.521 0 0);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-rose {
    --primary: oklch(0.631 0.214 12.234);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-orange {
    --primary: oklch(0.703 0.186 50.596);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-green {
    --primary: oklch(0.534 0.167 155.825);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-blue {
    --primary: oklch(0.567 0.214 252.322);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-yellow {
    --primary: oklch(0.839 0.176 91.732);
    --primary-foreground: oklch(0.368 0.101 70.936);
  }
  .theme-violet {
    --primary: oklch(0.608 0.248 293.014);
    --primary-foreground: oklch(0.985 0 0);
  }
  .theme-red {
    --primary: oklch(0.633 0.257 27.325);
    --primary-foreground: oklch(0.985 0 0);
  }
}
